In [6]:
import pandas as pd

In [20]:
a=['a','b','c']
b=['1','2','3']

   0  1
0  a  1
1  c  3
2  b  2

In [129]:
dic= dict(zip(a,b))
df2 = pd.DataFrame.from_dict(dic, orient='index')
print df

   0  1
0  a  1
1  c  3
2  b  2

In [106]:
dic= dict(zip(a,b))
df = pd.DataFrame.from_dict(dic.items())
#df.columns=['x','y']
print df

   0  1
0  a  1
1  c  3
2  b  2

In [132]:
c=[['4','5'],['6','7'],['8','9']]
df2=pd.DataFrame(c)
print df2

   0  1
0  4  5
1  6  7
2  8  9

In [133]:
test = pd.concat(d, axis =1)

In [134]:
print test

   0  1  0  1
0  a  1  4  5
1  c  3  6  7
2  b  2  8  9

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches   subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan